<% @titulo_pagina = "Subir nuevo documento" %>



          <% url_principal_conest_estudiante = host_conest_estudiantes + "/principal/principal" %>
          <a href = "<%=url_principal_conest_estudiante%>" >Continuar &gt;&gt;</a>

<!--
<p>
Puede visitar el sitio del buscador de documentos electronicos de la Facultad de Ciencias a la siguiente direccion: <%=@url_buscador%>
</p>
-->

