<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>mongrel test</title>
    <%= stylesheet_link_tag 'upload-progress' %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'upload-progress' %>
  </head>
  <body>









<br />
<h2>Upload Progress Demo</h2>
<br />

<% @uuid = Time.now.to_i.to_s -%>

<%= start_form_tag( {:action => 'upload', :upload_id => @uuid}, 
                    {:multipart => true, :target => 'UploadIFrame', :id => "UploadForm"} ) %>
   <p>
     <%= file_field_tag :data %>
     <%= submit_tag "Cargar archivo", {:type => 'button',
                               :onClick => "javascript:submitUploadForm('UploadForm', " +
                                           "'#{escape_javascript controller.controller_name}', " + 
                                           "'#{escape_javascript @uuid.to_s}');" } %>
   </p>
<%= end_form_tag %>

<div id="ProgressMessage">Seleccione el archivo...</div>
<div id="ProgressBarContainer">
	<div id="ProgressBarShell" style="display:none;">
		<div id="ProgressBar">
			<span id="ProgressBarText">0%</span>
		</div>
	</div>
</div>

<iframe id="UploadIFrame" name="UploadIFrame" src="about:blank">aqui va un iframe no se para que</iframe>











  </body>
</html>

